/*Import for font of the page*/
@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&display=swap');

body {
    font-family: "Faculty Glyphic", sans-serif;
    font-style: normal;
    background-color: black;
    color: #e1c498;
}

.header {
    display: flex;
    padding: 0;
    margin: 0;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    border-bottom: 2px solid white;
}

.header .containerHeader {
    display: flex;
    align-items: center;
    margin-left: 7%;
}

.header .containerHeader .nameFactory{
    display: flex;
    font-size: 20pt;
    justify-content: center;
    align-items: center;
    color: #e1c498;
}

.header .containerHeader .nameFactoryTwo {
    display: flex;
    font-size: 20pt;
    justify-content: center;
    align-items: center;
    color: white;
    margin-left: 5px;
}

.menuIcon {
    display: none; /*With this property the icon "munu-icon" not be shown*/
    font-size: 30px; /*Size of icon*/
    cursor: pointer;
    color: white;
}

.optionHeader {
    display: flex;
    width: 45%;
    margin-right: 4%;
    transition: max-height 0.5s ease-out, transform 0.5s ease-out, opacity 0.5s ease-out;
}

.optionHeader ul {
    display: flex;
    width: 100%;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-weight: bolder;
    gap: 15px;
    transition: transform 0.5s ease;
}

.optionHeader ul li {
    display: flex;
    text-align: center;
}

.optionHeader ul li a {
    align-items: center;
    text-decoration: none;
    color: #e1c498;
    display: inline-block;
    position: relative;
    transition: color 0.5s ease;
}

.optionHeader ul li a::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -5px;
    width: 0;
    height: 3px;
    border-radius: 10px;
    background-color: white;
    transition: width 0.5s ease, left 0.5s ease;
}

.optionHeader ul li a:hover::after {
    width: 100%;
    left: 0;
}

.optionHeader ul li a:hover {
    color: white;
}

.closeIcon {
    position: absolute; 
    top: 20px; 
    right: 20px; 
    font-size: 30px; 
    cursor: pointer;
    color: black;
    font-weight: bolder;
}

.main {
    width: 100%;
    height: 100%;
    background-color: aqua;
}

.containerImage {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin-top: 10px;
}

.slideShow {
    display: flex;
    height: 570px;
    transition: transform 1s ease-in-out; /* Transición suave */ 
}

.slide { 
    min-width: 100%;
    height: 100%;
    object-fit: cover;
}

.selectImage {
    display: flex;
    justify-content: center;
    gap: 10px; 
}

#imageOne, #imageTwo, #imageThree {
    width: 30px;
    height: 30px; 
    background-color: red;
    cursor: pointer;
    border-radius: 50px;
}

/* Media Queries for Responsiveness */
@media (max-width: 900px) {
    .header {
        display: flex;
        justify-content: start;
    }

    .menuIcon {
        /*With this property be showin the icon*/
        display: block;
    }

    .optionHeader {
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(221, 219, 219);
        flex-direction: column;
        justify-content: center;
        transform: translateX(-100%);
        transition: 0.5 ease-out, opacity 0.5s ease-out;
        z-index: 1000;
        opacity: 0;
    }

    .optionHeader.active {
        transform: translateX(0);
        opacity: 2;
    }

    .optionHeader ul {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .optionHeader ul li {
        padding: 20px;
    }

    .optionHeader ul li a {
        color: #000;
        font-weight: bolder;
        font-size: 18px;
    }

    .optionHeader ul li a:hover {
        color: black;
    }

    .optionHeader ul li a::after {
        background-color: black;
        border-radius: 3px;
    }
}
